.icons {
  max-width: 1400px;
}
.icons-sm {
  position: fixed;
  display: block;
  right: 10px;
	top: 35%;
}
.icon {
  opacity: 0.5;
}
.icon:hover {
  opacity: 1;
}
.arrowUp {
  position: fixed;
  cursor: pointer;
  right: 10px;
  top: 90%;
}
