.price > h2 {
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  border-spacing: 0;
  margin-bottom: 5px;
}
th, td {
  padding: 1em;
}
.long {
  width: 40%;
}
.short {
  width: 20%;
}
tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
tbody tr:nth-child(even) {
  background-color: #e3e3e3;
}
tbody tr:hover {
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0,0.25) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
.price-header {
  background-image: url(img/bg3.jpg);
  opacity: 0.8;
  color: #ffffff;
}
.price-header:hover {
  opacity: 1;
  transition: 1s;
}
.table-header {
  font-size: 20px;
}
.price-header-right {
  text-align: center;
}
.text-green {
  color: #2dae6a;
}
.text-blue {
  color: #00aeea;
}
